@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light-color: #fff;
    --main-color: #2F4F65; 
    --dark-color: #333;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body {
    font-family: "Montserrat", serif;

}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.icon {
    width: 25px;
    margin-right: 1rem;
}

.logo {
    width: 100px;
}

.second-title {
    font-size: 0.8rem;
}

.link {
    color: var(--dark-color);
}

.active {
    text-decoration: underline;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.container {
    padding: 1rem 12rem;
}

/* Navbar section */
.navbar {
    background-color: var(--light-color);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid var(--dark-color); */
}

.navbar-main {
    display: flex;
    justify-content: space-between;
}

.navbar-content {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    color: var(--dark-color);
}

/* Header section */
.header {
    height: 90vh;
    background-image: url('./assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.menu {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(181, 187, 222, 0.6);
    padding: 1rem 5rem;
    z-index: 1000;
}

.menu ul {
    display: flex;
}

.menu ul li a { 
    color: #fff;
    margin-right: 2rem;
    font-size: 0.9rem;

}

.menu ul li a:hover {
    text-decoration: underline;
}

/* Header section */
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 1rem 5rem;
    width: 700px;
}

.header-box {
    width: 300px;
    background-color: #203849;
    padding: 1rem;
    font-size: 0.8rem;
    border-left: 1rem solid #fff;
    margin-bottom: 2rem;
}

.title-content {
    font-weight: bold;
    line-height: 1.5;
}

/* Title Comp */
.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5rem;
}

/* Safe section */
.safe-content {
    display: flex;
    justify-content: center;
}

.safe-content div h4 {
    display: flex;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.safe-content div p {
    width: 400px;
    padding: 1rem;
}

.right-border {
    border-right: 2px solid var(--dark-color);
}

/* Transportation */
.transportation {
    height: 350px;
    display: flex;
    align-items: flex-end;
}

.trans-content {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    
}

.trans-content img {
    margin-top: -10rem;
    width: 250px;
}

.trans-content img:first-child,
.trans-content img:nth-child(2) {
    margin-right: 3rem;
}

/* Opportunity page */
.opportunity {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opp-image {
    width: 40%;
    padding: 4rem 0 4rem 4rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-color);
}

.opp-image img {
    width: 500px;
    margin-right: -5rem;
}

.opp-content {
    width: 60%;
    padding: 0 10rem 0 10rem;
}

.sub-title {
    font-size: 1.5rem;
    width: 350px;
    margin-bottom: 1rem;
    color: var(--dark-color);
}

.sub-text {
    font-size: 0.9rem;
    color: var(--dark-color);
    margin-bottom: 2rem;
}

.opp-list ul {
    display: flex;
    justify-content: space-between;
}

.opp-list ul li {
    display: flex;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: bold   ;
}

.opp-list ul li img {
    margin-right: 1rem;
}







